<template>
  <div class="assignment">
    <h1>Assignment</h1>
    <ul>
      <li v-for="item in filteredItems">{{item.name}}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'assignment',
     data() {
      return {
        items: [
          {name: 'D&W'},
          {name: 'N/A'},
          {name: 'Exploration'},
          {name: 'Finance'},
          {name: 'Geology'},
          {name: 'N/A'},
          {name: 'Geophysics'},
          {name: 'HSEQ'},
          {name: 'Operations "and" Maintenance'},
          {name: 'Petec'},
          {name: 'N/A'},
          {name: 'Reservoir'},
          {name: 'Seismic'},
          {name: 'N/A'},
          {name: 'Subsurface'},
          {name: 'Wells'},
          {name: 'N/A'},
        ]
      }
    },
    computed:{
      filteredItems(){
        const temp=this.items.filter(function(item){
          if (item.name ==="N/A") {
          return false;
        } else {
          return true
          }
        })
          return temp
      }
    }
  }
</script>

<style scoped>

</style>
